<head>
  <meta charset="UTF-8">
  <meta name="social-links" content="Meeting Minutes">
  <meta name="keywords" content="Meeting,Minutes">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<footer>
  <section class="links">
    <div class="link-icons">
      <img src="img/facebook.svg" alt="Facebook">
      <img src="img/twitter.svg" alt="Twitter">
      <img src="img/linkdin.svg" alt="Linkedin">
      <img src="img/google.svg" alt="Google+">
    </div>
  </section>
  <section class="about">
  <div class="mom-footer">
    <img src="img/logo_02.png" class="mom-logo">
    <p class="mom-text-footer">MoM</p>
  </div>
  <div class="footer-midtopic-row">
    <div>
      <p class="footer-midtopic">PRODUCT</p>
      <p>Features</p>
      <p>Pricing</p>
      <p>Free Trial</p>
    </div>
    <div>
      <p class="footer-midtopic">LEARN</p>
      <p>Blog</p>
      <p>Meeting Best Practices</p>
    </div>
    <div>
      <p class="footer-midtopic">COMPANY</p>
      <p>Privacy</p>
      <p>Terms & Conditions</p>
      <p>Contact Us</p>
    </div>
    <div>
      <p class="footer-midtopic">SOCIAL</p>
      <p>Facebook</p>
      <p>Twitter</p>
      <p>Linkedin</p>
      <p>Google +</p>
    </div>        
  </div>
  </section> 
  <section class="copyright">
    <h6 class="copyright-text">Copyright 2016,MoM</h6>
  </section>
</footer>
{% js vendor %}
{% js main %}
