<header>
<section class="start-page">
<div class="home">
  <div class="navigation">
    <div class="navigation-left">
      <img src="img/logo_02.png" alt="mom-logo" class="mom-logo"/>
      <p class="mom-text">MoM</p>  
    </div>
    <div class="headers-text navigation-right" id="links">
      <a class="nav-item">Pricing</a>
      <a href="/blog/" class="nav-item">Blog</a>
      <a href="/login/" class="nav-item">Login</a>
      <a href="/login/" class="nav-item rounded-rectangle">Sign Up Free</a>  
    </div>
     <div class="nav-menu">
      <img src="img/shape-2.png" id="nav-button" alt="menu" onclick="menu()"/>
    </div>
  </div>
  <div class="home-page">
    <p class="meeting-notes">{{ page.headline }}</p>
    <p class="sub-head-text">{{ page.second-headline }}</p>
    <a class="trial-text">{{ page.trial }}</a>
    <span class="trial-sub-text">{{ page.desc }}</span>
    <img src="/img/layer-1-6.jpg" alt="fg-img" class="fg-img"/>
  </div>
</div>
</section>
</header>
