<header>
<section class="start-page">
  <div class="navigation">
    <div class="navigation-left">
      <img src="img/logo_02.png" class="mom-logo"/>
      <p class="mom-text">MoM</p>  
      </div>
    <div class="headers-text navigation-right">
      <a class="margins">Pricing</a>
      <a href="/blog/" class="margins">Blog</a>
      <a href="/login/" class="margins">Login</a>
      <a href="/login/" class="margins rounded-rectangle">Sign Up Free</a>  
    </div>
  </div>
</section>
</header>
