h1 {
  font-family: Roboto;
  text-align: center;
}

.block {
  background-color: $grey-lighter-color;
  border: 1px $border-color solid;
  box-shadow: 0 2px 5px $black-light-color;
  text-align: justify;
}

.mom-header {
  display: flex;
  justify-content: space-between;
  padding: 0 15px;

.header-text {
    align-self: center;
    font-size: 1.4em;
    font-weight: 900;
  }
}

.middle {
  text-align: center;
}

.copyright {
  width: 100%;
  height: 69.3px;
  background-color: #1d2531;
}

.about {
  width: 100%;
  height: 416.5px;
  background-color: #212a37;
}

.links {
  width: 100%;
  height: 87px;
  background-color: #2c3748;
}

.touch {
  width: 100%;
  height: 704px;
  background-color: #212a38;
}

.pricing {
  width: 100%;
  height: 900px;
  background-color: #273140;
}

.users-say {
  width: 100%;
  height: 913.9px;
  background-color: #273140;
}

.pride {
  width: 100%;
  height: 369px;
  object-fit: contain;
  background-color: #800080;
}

.mom {
  width: 100%;
  height: 2000px;
}

.start-page {
  width: 100%;
  height: 1079px;
  object-fit: contain;
  background-image: url("/img/banner.jpg");
  background-repeat:no-repeat;
  background-size:cover;
}

.navigation-right {
  display: flex;
  justify-content: flex-end; 
  list-style-type: none;
  padding: 66px;
  left: 180px;
}

.navigation {
  display: inline-flex;
}

.navigation-left {
  display: flex;
  justify-content: flex-start; 
  list-style-type: none;
  padding: 3vw;
  position: relative;
  left: 180px;
  float: left;
}

.margins {
  margin-right: 63px;
  color: white;
}
.headers-text {
  //width: 63px;
  height: 21px;
  font-family: Roboto;
  font-size: 21px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}

.rounded-rectangle {
  width: 142.1px;
  height: 39.8px;
  border-radius: 19.9px;
  padding: 0.5vw 0.7vh 1.8vw 2vh;
  border: solid 0.5px #ffffff;
  text-align: center;
}

.mom-logo {
  width: 46px;
  height: 44px;
}

.mom-text {
  width: 81px;
  height: 27px;
  font-family: Roboto;
  font-size: 36.9px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}
