h1 {
  font-family: Roboto;
  text-align: center;
}

.block {
  background-color: $grey-lighter-color;
  border: 1px $border-color solid;
  box-shadow: 0 2px 5px $black-light-color;
  text-align: justify;
}

.mom-header {
  display: flex;
  justify-content: space-between;
  padding: 0 15px;

.header-text {
    align-self: center;
    font-size: 1.4em;
    font-weight: 900;
  }
}

.middle {
  text-align: center;
}

.copyright {
  width: 100%;
  height: 6vh;
  background-color: $copyright-bg;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 3vw;
  width: 100%;
  height: 45vh;
  background-color: $about-bg;
}

.links {
  width: 100%;
  height: 6vh;
  background-color: $links-bg;
}

.touch {
  width: 100%;
  height: 704px;
  background-color: $touch-bg;
}

.pricing {
  width: 100%;
  height: 900px;
  background-color: $pricing-bg;
}

.users-say {
  width: 100%;
  height: 913.9px;
  background-color: $users-say;
}

.pride {
  width: 100%;
  height: 369px;
  object-fit: contain;
  background-color: $pride-bg;
}

.mom {
  width: 100%;
  height: 2000px;
}

.start-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 1079px;
  object-fit: contain;
  background-image: url("/img/banner.jpg");
  background-repeat:no-repeat;
  background-size:100vw 100vh;
}


.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  .home-page{
  display: flex;
  flex-direction: column;
  justify-content: center;
  .meeting-notes {
  padding-top: 6vh;
  width: 98vw;
  height: 10vh;
  font-family: Roboto;
  font-size: 40px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: $white;
}
.sub-head-text {
  padding-top: 1vh;
  width: 100vw;
  height: 10vh;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.4;
  letter-spacing: normal;
  text-align: center;
  color: $white;
  padding-bottom: 12vh;
}
.trial-text{
  width: fit-content;
  height: fit-content;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: $white;
  align-self: center;
  border-radius: 30.2px;
  background-color: $trial-bg;
  padding: 1vw;
  }
.trial-sub-text{
  width: fit-content;
  height: fit-content;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 200;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
  align-self: center;
  color: $white;
  padding: 2vw;
  padding-top: 2vh;
  padding-bottom: 7vh;
}
.fg-img{
  width: 60vw;
  height: 43.4vh;
  align-self: center;
}
}

.navigation {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;

  .navigation-left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start; 
  align-items: center;
  list-style-type: none;
  padding-left: 12vw;
  padding-top: 6vh; 
}
  .navigation-right {
  display: flex;
  justify-content: flex-end; 
  list-style-type: none;
  padding-top: 5vh;
  padding-right: 10vw;
  @media only screen and (max-width: $scr_brk) {
    display: none;
}
}
.nav-display{
  display: flex !important;
  flex-direction: column;
  justify-content: flex-end; 
  list-style-type: none;
  padding-top: 5vh;
  padding-right: 10vw; 
  }
}
.nav-item {
  margin-right: 63px;
  color: white;
}
.nav-menu{
  display: none;
  @media only screen and (max-width: $scr_brk) {
    display: inline;
    img{
    width: 8vw;
    padding-right: 2vw;
    }   

}
}
.headers-text {
  font-family: Roboto;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: $white;
}

.rounded-rectangle {
  padding-top: 0.5vh;
  padding-bottom: 0.5vh;
  padding-left: 1vw;
  padding-right: 1vw;
  width: fit-content;
  height: fit-content;
  border-radius: 19.9px;
  border-width: 1px;
  border-style: solid;
  text-align: center;
}

.mom-logo {
  width: 3vw;
  height: 4vh;
}

.mom-text {
  width: 3vw;
  height: 4vh;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  padding-left: 1vw;
  padding-top: 1vh;
  color: $white;
}
}
